/* Imported font faces */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v20/ga6Law1J5X9T9RW6j9bNdOwzfReece9LOoc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal, italic;
  font-weight: 300, 400, 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Universal styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-accent: #E8C052;
  --light-accent: #1f427b;
  --light-primary: #F6F4F3;
  --light-secondary: #e1e0df;
  --dark-primary: #1f2329;
  --dark-secondary: #646464;
}

body {
  margin: 0 auto;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}


.body-container.light {
  background-color: var(--light-primary);
  color: var(--dark-primary);
}

.body-container.dark {
  background-color: var(--dark-primary);
  color: var(--light-primary);
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

h1 {
  color: inherit;
  font-size: 80px;
}

h2 {
  color: inherit;
  padding-left: 1rem;
  padding-bottom: .5rem;
  font-size: 36px;
  border-width: 1px;
  border-style: solid;
}

.body-container.light h2 {
  border-color: var(--light-accent);
  box-shadow: -7px 7px var(--light-accent);
}

.body-container.dark h2 {
  border-color: var(--dark-accent);
  box-shadow: -7px 7px var(--dark-accent);
}

h3 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: color 200ms ease-out;
}

a:hover,
a:active {
  text-decoration: underline;
}

.body-container.light a {
  color: var(--dark-primary);
}

.body-container.dark a {
  color: var(--light-primary);
}

.body-container.light a:visited {
  color: var(--dark-secondary);
}

.body-container.dark a:visited {
  color: var(--light-secondary);
}

.body-container.light a:hover,
.body-container.light a:active {
  color: var(--light-accent);
}

.body-container.dark a:hover,
.body-container.dark a:active {
  color: var(--dark-accent);
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 80px;
}

header #logo {
  font-size: 32px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.body-container.light #logo {
  border-color: var(--light-accent);
}

.body-container.dark #logo {
  border-color: var(--dark-accent);
}

#theme-toggle {
  text-align: center;
  width: 50px;
  height: 50px;
  padding-top: 3px;
  font-size: 30px;
  cursor: pointer;
  transition: 300ms ease-out;
  border-radius: 50%;
}

#theme-toggle:hover {
  cursor: cursor;
  text-decoration: none;
}

#theme-toggle.light:hover {
  background-color: var(--light-accent);
}

#theme-toggle.dark:hover {
  background-color: var(--dark-accent);
}

#theme-toggle::selection {
  background-color: transparent;
}

nav a {
  margin-right: 3rem;
  font-size: 20px;
  border-bottom: none;
}

nav a:hover,
nav a:active {
  border-bottom: 2px solid var(--accent-primary);
}

nav i {
  font-size: 24px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#hero {
  height: 90vh;
}

.section-content {
  display: grid;
}

#hero .section-content {
  grid-template: 100px auto auto 100px / 1fr 4fr;
}

#hero .section-content > h1 {
  grid-area: 2 / 2 / span 1 / span 1;
  margin: 0;
}

#hero .section-content > p {
  grid-area: 3 / 2 / span 1 / span 1;
  margin: 0;
  font-size: 36px;
}

#profile .section-content {
  grid-template: 1fr auto 1fr / 50px 2fr 4fr;
  gap: 0 50px;
}

#profile-picture {
 width: 80%;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  grid-area: 2 / 2 / span 1 / span 1;
}

.body-container.light #profile-picture {
  box-shadow: -10px 10px var(--light-accent);
}

.body-container.dark #profile-picture {
  box-shadow: -10px 10px var(--dark-accent);
}

#profile .section-content .text-container {
  grid-area: 2 / 3 / span 1 / span 1;
}

section#projects {
  justify-content: start;
  height: auto;
}

#projects .section-content {
  column-gap: 20px;
  grid-template: auto/ 1fr 1fr;
  grid-auto-rows: 1fr;
}

#projects .section-content > h2 {
  grid-area: 1 / 1 / span 1 / -1;
  margin-left: 20px;
}

.project {
  display: grid;
  grid-template-columns: 30% auto;
}

.project > img {
  grid-column: 1 / span 1;
  width: 60%;
  min-width: 150px;
  max-width: 300px;
  height: fit-content;
  margin: 2rem auto 0;
  border-radius: 50%;
}

.project > .project-info {
  grid-column: 2 / span 1;
}

.project .project-link::after {
  content: " \2192";
  transition: 200ms;
}

.project .project-link:hover::after,
.project .project-link:active::after {
  padding-left: 0.5rem;
}


@media screen and (max-width: 1500px) {
  #projects .section-content {
    column-gap: 0;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .project > img {
    min-width: 150px;
    max-width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }

  #profile .section-content {
    grid-template-columns: 2fr 4fr;
  }

  #profile-picture {
    margin: 0;
    grid-column: 1 / span 1;
  }

  #profile .section-content .text-container {
    grid-column: 2 / span 1;
  }

  .project {
    grid-column: 200px auto;
  }
}

@media screen and (max-width: 800px) {
  #hero .section-content {
    grid-template-columns: 50px 1fr;
  }

  #hero .section-content > h1,
  #hero .section-content > p {
    grid-column: 2 / -1;
  }
}

@media screen and (max-width: 680px) {
  
}